body {
  background-color: #f4f4f4;
}
.result {
  background: #e9ecef;
}

.item-content {
  margin-top: 20px;
}
#moreText {
  display: none;
}
.table th,
.table td {
  text-align: center;
}
.hidden {
  display: none;
}
